<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>文章後台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div>
        <section>
            <a href="?action=article_list">Article</a>
            <a href="?action=subscribe_list">Subscribe</a>
            <a href="?action=category_list">Category</a>
        </section>
        <div class="app">
            <div v-if="action == 'article_create'">
                <article-create-view></article-create-view>
            </div>
            <div v-if="action == 'article_edit'">
                <article-edit-view></article-edit-view>
            </div>
            <div v-if="action == 'article_list' || action == null ">
                <article-list-view></article-list-view>
            </div>
            <div v-if="action == 'subscribe_list'">
                <subscribe-list-view></subscribe-list-view>
            </div>
            <div v-if="action == 'category_list'">
                <category-list-view></category-list-view>
            </div>
            <div v-if="action == 'category_edit'">
                <category-edit-view></category-edit-view>
            </div>
            <div v-if="action == 'category_create'">
                <category-create-view></category-create-view>
            </div>
        </div>
    </div>

    <script src="js/vue.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="js/config.js"></script>

    <script>
        var url_string = window.location.href
        var url = new URL(url_string);
        var id = url.searchParams.get("id");
        var action = url.searchParams.get("action");

        if (action == 'article_create') {
            in_temp = 'article_create.html';
        } else if (action == 'article_edit') {
            in_temp = 'article_edit.html';
        } else if (action == 'article_list') {
            in_temp = 'article_list.html';
        } else if (action == 'subscribe_list') {
            in_temp = 'subscribe_list.html';
        }
        else if (action == 'category_list') {
            in_temp = 'category_list.html';
        }
        else if (action == 'category_create') {
            in_temp = 'category_create.html';
        }
        else if (action == 'category_edit') {
            in_temp = 'category_edit.html';
        }
        else{
            action = 'article_list';
            in_temp = 'article_list.html';
        }

    </script>
    <!-- controller -->
    <script src="js/controller/article.js"></script>
    <script src="js/controller/subscribe.js"></script>
    <script src="js/controller/category.js"></script>
    <!-- controller -->
    <!-- main -->
    <script>
        var app = new Vue({
            el: '.app',
            data: {
                authors: [],
                author_id: '1',
                categorys: [],
                posts: [],
                datas: [],
                subscribe: [],
                category_id: '1',
                title: '',
                name: '',
                description: '',
                content: '',
                cover: '',
                cover_title: '',
                cover_alt: '',
                status: 'draft',
                status_arr: [
                    'draft',
                    'publish',
                    'delete'
                ],
                html_made: 'false',
                synced: 'false',
                slug: '',
                og_title: '',
                og_description: '',
                meta_title: '',
                meta_description: '',
                excerpt: '',
                canonical_url: ''
            },
            computed: {
                action: function () {
                    var url_string = window.location.href
                    var url = new URL(url_string);
                    return url.searchParams.get("action");
                }
            },
            methods: {
                sessioninit: function () {
                    //session
                        axios.post(base_url + '/api/session/init')
                            .then((res) => {
                                localStorage.setItem("session", res.data.data.session);
                                localStorage.setItem("device_code", res.data.data.device_code);
                                session = localStorage.getItem("session");
                                device_code = localStorage.getItem("device_code");
                            });
                    //end session
                }
            },
            beforeCreate: function () {

                //session
                if (session == null) {
                    axios.post(base_url + '/api/session/init')
                        .then((res) => {
                            localStorage.setItem("session", res.data.data.session);
                            localStorage.setItem("device_code", res.data.data.device_code);
                            session = localStorage.getItem("session");
                            device_code = localStorage.getItem("device_code");
                        });
                } else {
                    axios.get(base_url + '/api/session/' + session)
                        .then((res) => {
                            if (res.status == '204') {
                                return axios.post(base_url + '/api/session/init')
                            }
                        }).then((res) => {
                            localStorage.setItem("session", res.data.data.session);
                            localStorage.setItem("device_code", res.data.data.device_code);
                            session = localStorage.getItem("session");
                            device_code = localStorage.getItem("device_code");
                        })
                        .catch((error) => {
                        });
                }
                //end session
            },
            //get sub component
            created: function () {
                axios.get(base_url + '/api/author/list', { headers: { 'session': session } })
                    .then((res) => {
                        this.authors = res.data.data.authors;
                    });

                axios.get(base_url + '/api/category/list', { headers: { 'session': session } })
                    .then((res) => {
                        this.categorys = res.data.data.categories;
                    });
            },
            //end sub component
        });
    </script>
    <!-- main -->
</body>

</html>