<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Article CMS</title>
</head>

<body>
    <form action="" method="post" enctype="multipart/form-data">
        <table style="background-color:rgb(189, 188, 188)" border="1">
            <tr>
                <th width='200px'>id (修改時用到)</th>
                <td>
                    <!-- <input v-model="id" type="hidden"> -->
                </td>
            </tr>
            <tr>
                <th>標題 title：</th>
                <td>
                    <input v-model="title" type="text">
                </td>
            </tr>

            <tr>
                <th>內文 content：</th>
                <td>
                    <textarea style="width:400px;height:200px;" v-model="content"></textarea>
                </td>
            </tr>
            <tr>
                <th>cover：</th>
                <td>
                    <input type="file" @change="change($event)">
                </td>
            </tr>

            <tr>
                <th>cover_title：</th>
                <td>
                    <input v-model="cover_title" type="text">
                </td>
            </tr>

            <tr>
                <th>cover_alt：</th>
                <td>
                    <textarea style="width:400px;height:200px;" v-model="cover_alt"></textarea>
                </td>
            </tr>
            <tr>
                <th>status：</th>
                <td>
                    <select v-model="status">
                        <option v-for="status in status_arr" :value="status">{{ status }}</option>
                    </select>
                </td>
            </tr>

            <tr>
                <th>作者（author_id）：</th>
                <td>
                    <select v-model="author_id">
                        <option v-for="author in authors" :value="author.id">
                            {{ author.fullname }}
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>category_id：</th>
                <td>

                    <select v-model="category_id">
                        <option v-for="category in categorys" :value="category.id">
                            {{ category.name }}
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>slug：</th>
                <td>
                    <input v-model="slug" type="text">
                </td>
            </tr>
            <tr>
                <th>og_title：</th>
                <td>
                    <input v-model="og_title" type="text">
                </td>
            </tr>
            <tr>
                <th>og_description：</th>
                <td>
                    <textarea style="width:400px;height:200px;" v-model="og_description"></textarea>
                </td>
            </tr>
            <tr>
                <th>meta_title：</th>
                <td>
                    <input v-model="meta_title" type="text">
                </td>
            </tr>
            <tr>
                <th>canonical_url</th>
                <td>
                    <input v-model="canonical_url" type="text">
                </td>
            </tr>
            <tr>
                <th>meta_description：</th>
                <td>
                    <textarea style="width:400px;height:200px;" v-model="meta_description"></textarea>
                </td>
            </tr>
            <tr>
                <th>excerpt</th>
                <td>
                    <textarea style="width:400px;height:200px;" v-model="excerpt"></textarea>
                </td>
            </tr>

            <tr>
                <th>輸出成靜態html:</th>
                <td>{{html_made}}</td>
            </tr>
            <tr>
                <th>推到前端:</th>
                <td>{{synced}}</td>
            </tr>

            <tr>
                <th>&nbsp;</th>
                <td>
                    <input v-on:click="save($event)" name="name" value="SAVE" type="button">
                    <input v-on:click="make2html($event)" name="name" value="make2Html" type="button">
                    <input v-on:click="sync($event)" name="name" value="sync" type="button">
                </td>
            </tr>
        </table>
    </form>
</body>

</html>