<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Article CMS</title>
</head>

<body>
    <a href="?action=article_create">新增文章</a>
    <table>
            <tr>
                <th width='200px'>標題</th>
                <th width='200px'>slug</th>
                <th width='200px'>status</th>
                <th width='200px'>靜態html</th>
                <th width='200px'>synced</th>
                <th width='200px'>修改</th>
                <!-- <th width='200px'>修改</th> -->
            </tr>
            <tr v-for="item in datas"> 
                <td width='200px'>{{item.title}}</td>
                <td width='200px'>{{item.slug}}</td>
                <td width='200px'>{{item.status}}</td>
                <td width='200px'>{{item.html_made}}</td>
                <td width='200px'>{{item.synced}}</td>
                <td width='200px'>
                     <!-- <a href="{{item.id}}">edit</a> -->
                     <div><a v-bind:href="'?action=article_edit&id='+ item.id">edit </a></div>
                     <!-- <div><a v-bind:href="'?action=article_edit&id='+ item.id">轉成靜態html</a></div>
                     <div><a v-bind:href="'?action=article_edit&id='+ item.id">synced </a></div> -->
            </td>
            </tr>
    </table>
</body>

</html>