<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Article CMS</title>
</head>

<body>
    <form action="" method="post" enctype="multipart/form-data">
        <table style="background-color:rgb(189, 188, 188)" border="1">
            <tr>
                <th>分類名稱</th>
                <td>
                    <input v-model="name" type="text">
                </td>
            </tr>

            <tr>
                <th>description：</th>
                <td>
                    <textarea style="width:400px;height:200px;" v-model="description"></textarea>
                </td>
            </tr>
            <tr>
                <th>cover：</th>
                <td>
                    <!-- <input name="cover" type="file">
                    <input type="file" v-on:Change="upload('test',$event)" > -->
                    <input type="file" @change="change($event)">
                </td>
            </tr>

            <tr>
                <th>cover_title：</th>
                <td>
                    <input v-model="cover_title" type="text">
                </td>
            </tr>

            <tr>
                <th>cover_alt：</th>
                <td>
                    <textarea style="width:400px;height:200px;" v-model="cover_alt"></textarea>
                </td>
            </tr>
            <tr>
                <th>status：</th>
                <td>
                    <select v-model="status">
                        <option v-for="status in status_arr" :value="status">{{ status }}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>slug：</th>
                <td>
                    <input v-model="slug" type="text">
                </td>
            </tr>
            <tr>
                <th>og_title：</th>
                <td>
                    <input v-model="og_title" type="text">
                </td>
            </tr>
            <tr>
                <th>og_description：</th>
                <td>
                    <textarea style="width:400px;height:200px;" v-model="og_description"></textarea>
                </td>
            </tr>
            <tr>
                <th>meta_title：</th>
                <td>
                    <input v-model="meta_title" type="text">
                </td>
            </tr>
            <tr>
                <th>canonical_url</th>
                <td>
                    <input v-model="canonical_url" type="text">
                </td>
            </tr>
            <tr>
                <th>meta_description：</th>
                <td>
                    <textarea style="width:400px;height:200px;" v-model="meta_description"></textarea>
                </td>
            </tr>
            <tr>
                    <th>excerpt</th>
                    <td>
                        <textarea style="width:400px;height:200px;" v-model="excerpt"></textarea>
                    </td>
            </tr>
            
            <tr>
                <th>&nbsp;</th>
                <td>
                    <input name="name" v-on:click="save($event)" value="SAVE" type="button">
                </td>
            </tr>
        </table>
    </form>
</body>

</html>