<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Article CMS</title>
</head>

<body>
    <a v-on:click="JSONToCSVConvertor(subscribe,'Vehicle Report', true)" href="#">下載訂閱者清單</a>
    <table>
            <tr>
                <th width='200px'>訂閱者</th>
                <th width='200px'>name</th>
            </tr>
            <tr v-for="item in datas"> 
                <td width='200px'>{{item.email}}</td>
                <td width='200px'>{{item.name}}</td>
            </tr>
    </table>
</body>

</html>